USE [master]
GO
/****** Object:  Database [BankaOtomasyonuFinal]    Script Date: 15.03.2026 22:27:12 ******/
CREATE DATABASE [BankaOtomasyonuFinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankaOtomasyonuFinal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BankaOtomasyonuFinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BankaOtomasyonuFinal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BankaOtomasyonuFinal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankaOtomasyonuFinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankaOtomasyonuFinal]
GO
/****** Object:  Table [dbo].[Hesap]    Script Date: 15.03.2026 22:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hesap](
	[HesapID] [char](26) NOT NULL,
	[MusteriID] [int] NOT NULL,
	[HesapTuru] [nvarchar](50) NULL,
	[Bakiye] [decimal](18, 2) NOT NULL,
	[FaizOrani] [decimal](5, 4) NULL,
	[VadeBaslangic] [datetime] NULL,
	[VadeBitis] [datetime] NULL,
	[SonFaizHesaplama] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HesapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HesapHareketleri]    Script Date: 15.03.2026 22:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HesapHareketleri](
	[HareketID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NOT NULL,
	[GonderenHesapID] [char](26) NULL,
	[AliciHesapID] [char](26) NULL,
	[Tarih] [datetime] NOT NULL,
	[Aciklama] [nvarchar](50) NULL,
	[Tutar] [decimal](18, 2) NOT NULL,
	[IslemTuru] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HareketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 15.03.2026 22:27:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](30) NOT NULL,
	[Soyad] [nvarchar](30) NOT NULL,
	[Telefon] [nvarchar](11) NULL,
	[Sifre] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__Musteri__726244716A6AAD4E] PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Hesap] ADD  DEFAULT ((0)) FOR [Bakiye]
GO
ALTER TABLE [dbo].[HesapHareketleri] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Hesap]  WITH CHECK ADD  CONSTRAINT [FK__Hesap__MusteriID__3A81B327] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteri] ([MusteriID])
GO
ALTER TABLE [dbo].[Hesap] CHECK CONSTRAINT [FK__Hesap__MusteriID__3A81B327]
GO
ALTER TABLE [dbo].[HesapHareketleri]  WITH CHECK ADD FOREIGN KEY([AliciHesapID])
REFERENCES [dbo].[Hesap] ([HesapID])
GO
ALTER TABLE [dbo].[HesapHareketleri]  WITH CHECK ADD FOREIGN KEY([GonderenHesapID])
REFERENCES [dbo].[Hesap] ([HesapID])
GO
ALTER TABLE [dbo].[HesapHareketleri]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteri] ([MusteriID])
GO
USE [master]
GO
